@font-face {
    font-family: "Burbank Regular";
    src: url("burbank-big-regular-medium.ttf") format("truetype");
}

@font-face {
    font-family: "Burbank Big Condensed";
    src: url("burbank-big-condensed-black.ttf") format("truetype");
}

html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}

body {
    background-image: url("https://cdn2.unrealengine.com/Fortnite%2Fblog%2Fannouncing-2018-2019-fortnite-competitive-season%2FBR04_Featured_EsportsAnnounce-1920x1080-ecd0a3d2677dffaf9e306a11a5d10d863432d059.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

span.title {
    display: block;
    color: white;
    font-family: "Burbank Big Condensed";
    font-size: 500%;
    font-weight: 100;
    text-align: center;
    padding: 25px;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* #locations { */
.row {
    margin: 0 auto;
    width: 50%;
    display: block;
    background: rgba(8, 15, 49, 0.9);
    text-align: center;
    font-family: 'Noto Sans';
    margin: auto auto 25px auto;
    min-width: 450px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 30%;
    display: inline-block;
    text-align: left;
    color: #E3F1FB;
    font-size: 1em;
    vertical-align: top;
    margin: 0 2px;
    padding-bottom: 20px;
}

.column h2 {
    text-align: center;
    color: #E3F1FB;
    background: #4D658E;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.column ul {
    padding: 15px;
}

.column li {
    padding-bottom: 5px;
}

img.hover-image{
    position:absolute;
    height: 250px;
    widows: 250px;
}

#wheel {
    display: block;
    text-align: center;
    padding: 20px 0px;
}

#wheel > canvas {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-width: 900px;
    min-width: 450px;
}

#update {
    padding: 20px 0px;
    max-width:100%;
}
