<!DOCTYPE html>
<html>
<head>
	<title>Fortnite: Risky Wheels</title>
	<link rel="preload" as="image" href="https://cdn2.unrealengine.com/Fortnite%2Fblog%2Fannouncing-2018-2019-fortnite-competitive-season%2FBR04_Featured_EsportsAnnounce-1920x1080-ecd0a3d2677dffaf9e306a11a5d10d863432d059.jpg">
	<link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico">
	<link rel="icon" type="image/x-icon" href="public/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="public/style/style.css">
	<script type=text/javascript src=https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js></script>
	<link rel=stylesheet type=text/css href=https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css>
	<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Noto+Sans">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125404892-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-125404892-1');
	</script>
	<script src="public/scripts/locations.js"></script>
</head>

<body>
<div>
	<header><span class="title">Risky Wheels</span></header>
    <div id="wheel">
		<canvas id="wheel-canvas" width="900" height="600"></canvas>		
		<script src="public/scripts/wheel.js"></script>
	</div>
    <div id="locations">
        <div class="row">
            <form action="/locations" method="post">
                <div class="column">
					<h2>Named Locations</h2>
					<ul>
                    {{with $1:=.NamedLocations}}
						{{range $1}}
						<li><input type="checkbox" name="location" class="namedLocationCheckbox" value={{.Value}} {{if .Selected}}checked{{end}}>{{.Value}}</li>
                        {{end}}
					{{end}}
					</ul>
					<input type="checkbox" id="selectAllNamed" onclick='SelectAll("selectAllNamed", "namedLocationCheckbox")'/>Select All<br>
                </div>
                <div class="column">
					<h2>Unnamed Locations</h2>
					<ul>
                    {{with $1:=.UnnamedLocations}}
						{{range $1}}
                        <li><input type="checkbox" name="location" class="unnamedLocationCheckbox" value={{.Value}} {{if .Selected}}checked{{end}}><a class="hover-link" data-hover-image={{.ImagePath}}>{{.Value}}</a></li>
                        {{end}}
					{{end}}
					</ul>
					<input type="checkbox" id="selectAllUnnamed" onclick='SelectAll("selectAllUnnamed", "unnamedLocationCheckbox")'/>Select All<br><br>
                    <input type="image" alt="submit" name="updateLocation" src="public/images/update.png">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
	<a href="https://github.com/findkim/risky-wheels" target="_blank"><img src="public/images/GitHub-Mark-64px.png"></a>
</div>
</body>

<script src="//code.jquery.com/jquery.js"></script>
<script>
  $(document).ready(function() {
    $('a.hover-link').mouseenter(function() {
      $('img.hover-image').remove();
      $(this).append('<img class="hover-image" src="' + $(this).attr('data-hover-image') + '"/>')
    }).mouseleave(function() {
      $('img.hover-image').remove();
    })
  })
</script>
</html>